<script>
   $(document).ready(function() {
     var updatePieceUrl = "<%= game_piece_path(@game, 'xxx')%>";
     
    $( ".piece" ).draggable({
      containment: '.board',
      cursor: 'pointer'
    });
    $(".board td").droppable({
      drop: function(event, ui) {
        
         var square = $(this);        
         var row = square.parent();         
         var columnIndex = row.children().index(square);   
         var board = row.parent();         
         var rowIndex = board.children().index(row);   
         var pieceId = ui.draggable.data('id')
                     

        $.ajax({
          type: 'PUT',
          url: updatePieceUrl.replace('xxx', pieceId),
          dataType: 'json',
          data: {
            piece: {
              x_position: columnIndex,
              y_position: rowIndex
            }
          }
        }); 
      }
    });
  });
</script>

<h1 class="text-center">Chess Board</h1>

<table class="board">
  <% 8.times do |row| %>
    <tr>
    <% 8.times do |column| %>
      <td>
        <% piece = @game.game_piece_at(row, column) %>
        <% if piece %>
          <div class="piece" data-id="<%= piece.id %>"><%= piece.type %></div>
        <% end %>
      </td>
    <% end %>
    </tr>
  <% end %>
</table>