<script>
   $(document).ready(function() {
    $( ".piece" ).draggable({
      containment: '.board',
      cursor: 'pointer'
    });
  } );
</script>

<h1 class="text-center">Chess Board</h1>

<table class="board">
  <% 8.times do |row| %>
    <tr>
    <% 8.times do |column| %>
      <td>
        <% piece = @game.game_piece_at(row, column) %>
        <% if piece %>
          <div class="piece"><%= piece.type %></div>
        <% end %>
      </td>
    <% end %>
    </tr>
  <% end %>
</table>